<div class="container mt-5 mb-5 row justify-content-center">
    <h1 mat-dialog-title>Parts Selected</h1>
    <div *ngIf="data.purchases.length > 0">
        <div mat-dialog-content style="max-height: 60vh; overflow-y: auto;">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let purchase of data.purchases">
                    <h5 class="mb-1">Descripción: {{purchase.description}}</h5>
                    <p class="mb-1">Part Number: {{purchase.partNumber}}</p>
                    <p class="mb-1">Cantidad: {{purchase.quantity}}</p>
                </li>
            </ul>
            <br>

            <form>
                <div>
                    <label for="inputName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="inputName" (input)="checkFormCompletion()">
                </div>
                <br>
                <div>
                    <label for="inputCard" class="form-label">Numero de Tarjeta de Crédito</label>
                    <input type="text" class="form-control" id="inputCard" (input)="checkFormCompletion()">
                </div>
                <br>
                <div>
                    <label for="inputExpiration" class="form-label">Fecha de Vencimiento</label>
                    <input type="date" class="form-control" id="inputExpiration" (input)="checkFormCompletion()">
                </div>
            </form>

            <br><br>
            <div mat-dialog-actions class="d-flex align-items-center">
                <button class="btn btn-primary" (click)="addPart()" [disabled]="isLoading || !formCompleted">Confirm
                    Purchase</button>
                <div class="spinner-border text-primary ml-2" role="status" *ngIf="isLoading">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <br>
            <div mat-dialog-actions>
                <button class="btn btn-primary" [disabled]="isLoading" (click)="emptyShoppingCart()">Empty Shopping
                    Cart</button>
            </div>
        </div>
    </div>
    <div *ngIf="data.purchases.length == 0">
        <h2>Cart Empty.</h2>
    </div>
</div>
<button mat-icon-button mat-dialog-close aria-label="Close" type="button" class="close-button" (click)="onNoClick()">
    <i class="material-icons">close</i>
</button>