<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
    crossorigin="anonymous">
</head>

<div class="container mt-5 mb-5">
  <h2>Steps:</h2>
  <div *ngIf="steps.length === 0">
    No steps
  </div>
  <div class="row justify-content-center">
    <div *ngFor="let step of steps; let i = index" class="col-12 col-sm-6 col-md-4 mt-2">
      <div class="card p-4">
        <div class="card-title">
          <h3>{{ step.stepNumber }}</h3>
          <h3>{{ step.description }}</h3>
          <mat-divider></mat-divider>

        </div>
        <div class="card-body" *ngIf="step.showDetails">
          <label><strong>Next Step:</strong></label>
          <span class="card-text">{{ step.nextStepNumber }}</span>
          <br>
          <label><strong>First Step:</strong></label>
          <span class="card-text">{{ step.firstStep }}</span>
          <br>
          <label><strong>Next When Error:</strong></label>
          <span class="card-text">{{ step.nextWhenError}}</span>
          <br>
          <label><strong>Next Part Number:</strong></label>
          <span class="card-text">{{ step.newPartNumber}}</span>
          <br>
          <label><strong>Resource:</strong></label>
          <span class="card-text">{{ step.resource }}</span>
          <br>
          <label><strong>Transport Time:</strong></label>
          <span class="card-text">{{ step.transportTime }}</span>
          <br>
          <label><strong>Working Time:</strong></label>
          <span class="card-text">{{ step.calculatedWorkingTime}}</span>
          <br>
          <label><strong>Electric Energy:</strong></label>
          <span class="card-text">{{ step.calculatedElectricEnergy}}</span>
          <br>
          <label><strong>Compress Air:</strong></label>
          <span class="card-text">{{ step.calculatedCompressedAir }}</span>
        </div>
        <button mat-icon-button mat-dialog-close (click)="step.showDetails = !step.showDetails">
          <mat-icon>{{ step.showDetails ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<button mat-icon-button mat-dialog-close aria-label="Close" type="button" class="close-button" (click)="onNoClick()">
  <mat-icon>close</mat-icon>
</button>

