<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<div style="display: flex; height: 100%;">
    <div style="flex: 0.5; height: 100%; background-color: #FFFFFF;" class="mat-elevation-z8">
        <!-- Left column -->
        <div style="background-color: #FFFFFF;">
            <h2 style="text-align: center;">Lista de Partes</h2>
            <div style="display: flex; align-items: center;">
                <input class="filter-input" (keyup)="applyFilter($event)" placeholder="Filter">

            </div>
        </div>
        <mat-table [dataSource]="dataSource">
            <!-- Columna de imagen -->
            <ng-container matColumnDef="imagen">
                <mat-header-cell *matHeaderCellDef> Imagen </mat-header-cell>
                <mat-cell *matCellDef="let pieza">
                    <img [src]="pieza.imagen" alt="Imagen de la pieza" (click)="$event.stopPropagation()">
                </mat-cell>
            </ng-container>

            <!-- Columna de nombre -->
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let pieza" (click)="mostrarInfo(pieza)"> {{ pieza.nombre }} </mat-cell>
            </ng-container>

            <!-- Columna de ID -->
            <ng-container matColumnDef="ID">
                <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                <mat-cell *matCellDef="let pieza" (click)="mostrarInfo(pieza)"> {{ pieza.ID }} </mat-cell>
            </ng-container>

            <!-- Columna de descripción -->
            <ng-container matColumnDef="descripcion">
                <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
                <mat-cell *matCellDef="let pieza" (click)="mostrarInfo(pieza)"> {{ pieza.descripcion }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas;" (click)="mostrarInfo(row)"
                [ngClass]="{'selected': row === selectedRow}"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5,10, 25, 100]" showFirstLastButtons></mat-paginator>

    </div>


    <div style="flex: 0.5;">
        <!-- Right column -->
        <div *ngIf="piezaSeleccionada">
            <div class="container mt-5 mb-5">
                <div class="mat-elevation-z8">
                    <div class="card card1">
                        <div class="card-header">
                            <h3>Default Settings: </h3>
                        </div>
                        <div class="card-body">
                            <p><strong>Nombre:</strong> {{ piezaSeleccionada.nombre }}</p>
                            <p><strong>ID:</strong> {{ piezaSeleccionada.ID }}</p>
                            <p><strong>Descripción:</strong> {{ piezaSeleccionada.descripcion }}</p>
                            <p><strong>Tipo:</strong> {{ piezaSeleccionada.type }}</p>
                            <p><strong>Base Palet:</strong> {{ piezaSeleccionada.BasePalet }}</p>
                            <button type="button" class="btn btn-primary"
                                (click)="openEditDialogSettings(piezaSeleccionada)">Editar</button>
                        </div>
                    </div>
                </div>

                <br>
                <div class="mat-elevation-z8">
                    <div class="card card1">
                        <div class="card-header">
                            <h3>MRP: </h3>
                        </div>
                        <div class="card-body">

                            <p><strong>MRP Type:</strong> {{ piezaSeleccionada.MRPType }}</p>
                            <p><strong>Safetely Stock Level:</strong> {{ piezaSeleccionada.stock}}</p>
                            <p><strong>Let Size:</strong> {{ piezaSeleccionada.size }}</p>
                            <button type="button" class="btn btn-primary"
                                (click)="openEditDialogMRP(piezaSeleccionada)">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="flex: 0.5;">
        <!-- Right column -->
        <div *ngIf="piezaSeleccionada">
            <div class="container mt-5 mb-5">
                <div class="mat-elevation-z8">
                    <div class="card card1">
                        <div class="card-header">
                            <h3>WorkPlan: </h3>
                        </div>
                        <div class="card-body">
                            <p><strong>WorkPlan:</strong> {{ piezaSeleccionada.WorkPlan }}</p>

                            <button type="button" class="btn btn-primary"
                                (click)="openEditDialogWorkPlan(piezaSeleccionada)">Editar</button>
                        </div>
                    </div>
                </div>

                <br>
                <div class="mat-elevation-z8">
                    <div class="card card1">
                        <div class="card-header">
                            <h3>Other Settings: </h3>
                        </div>
                        <div class="card-body">
                            <p><strong>Setting 1:</strong> {{ piezaSeleccionada.OtherSetting1 }}</p>
                            <p><strong>Setting 2:</strong> {{ piezaSeleccionada.OtherSetting2 }}</p>
                            <p><strong>Setting 3:</strong> {{ piezaSeleccionada.OtherSetting3 }}</p>
                            <p><strong>Setting 4:</strong> {{ piezaSeleccionada.OtherSetting4 }}</p>
                            <button type="button" class="btn btn-primary"
                                (click)="openEditDialogOtherSettings(piezaSeleccionada)">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>