.filter-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    width: 100%;
  
}
mat-cell img {
    border-radius: 50%;
    max-width: 100%;
  height: auto;
    
  }

  .card1{
    border: 0 !important;
    height: 26rem;
}

mat-row{
  cursor: pointer;
}
.selected {
  border-left: 4px solid #1976d2;
}