<mat-toolbar style="background-color: #193366;" color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Centro de Manufactura Integrado</span>

        <div fxFlex fxLayout fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
               
                <li>
                    <button mat-icon-button routerLink="/help" matTooltip="Go to Help">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="menu1">
                        <mat-icon>list</mat-icon>
                      </button>
                      <mat-menu #menu1="matMenu">
                        <button mat-menu-item>
                            <mat-icon><span class="material-icons">
                                precision_manufacturing
                                </span></mat-icon>
                            <span>Maquina 1</span>
                        </button>

                        <button mat-menu-item>
                            <mat-icon><span class="material-icons">
                                precision_manufacturing
                                </span></mat-icon>
                            <span>Maquina 2</span>
                        </button>
                      </mat-menu>
                </li>
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="/login">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Logout</span>
                        </button>
                    </mat-menu>

                </li>
                
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>