<div class="container mt-5 mb-5">
  <h1 class="modal-title">Editar Cliente</h1>

  <div class="mb-3">
    <label for="id" class="form-label">ID</label>
    <input type="number" class="form-control" id="ID" name="ID" placeholder="ID" [(ngModel)]="persona.clientNumber">
  </div>
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="persona.firstName">
  </div>
  <div class="mb-3">
    <label for="apellido" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido" [(ngModel)]="persona.lastName">
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Address</label>
    <input type="text" class="form-control" id="Address" name="Address" placeholder="Address" [(ngModel)]="persona.address">
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" [(ngModel)]="persona.phone">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="persona.email">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Company</label>
    <input type="text" class="form-control" id="company" name="company" placeholder="Company" [(ngModel)]="persona.company">
  </div>

  <button type="button" class="btn btn-primary" (click)="onEditClick()">Guardar</button>
  <button mat-icon-button mat-dialog-close aria-label="Close" type="button" class="close-button" (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>

</div>