<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootApp" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <envs>
      <env name="SSL_KEY_PATH" value="$PROJECT_DIR$/../server.p12" />
    </envs>
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateClassesAndResources" />
    <module name="tgsecurity" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="co.edu.javeriana.ctai.tgsecurity.SpringBootApp" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="co.edu.javeriana.ctai.tgsecurity.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>