.card {
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
}

.card-text {
    min-height: 10rem;
}

.stripe-container,
.slider-container {
    display: flex;
}

.stripe-container .card {
    width: 300px;
    flex-shrink: 0;
    margin-right: 1rem;
}

.product-stripe,
.slider {
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.spinner-border.custom-sm {
    height: 1.5rem;
    width: 1.5rem;

}

img {
    width: 65%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.test {
    background-color: white;
}