
<div class="test">
    <div class="d-flex align-items-center" *ngIf="rol !== 'SHOPPER'">
        <h2>Production Queue</h2>
        <button mat-icon-button style="margin-bottom: 15px;" (click)="openAddDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="d-flex align-items-center" *ngIf="rol == 'SHOPPER'">
        <h2>Purchased Parts</h2>
    </div>
    <section>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="filterCards()" placeholder="Filter">
        </div>
        <div id="productos">
            <div class="product-stripe">
                <div [ngClass]="{'stripe-container': filteredCards.length > 0}">
                    <div *ngFor="let card of filteredCards" class="card" style="height: 25rem;">
                        <div class="d-flex justify-content-center">
                          <img [src]="card.image" alt="Imagen de la pieza"
                                onerror="this.src='../../../assets/NoPicture.png'">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ card.title }}</h5> 
                            <span class="badge bg-primary">id: {{ card.id }}</span>
                            <br>
                            <span class="badge bg-primary">Order Number: {{ card.OrderNumber }}</span>
                            <br><br><br> 
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-column">
                                    <button type="button" class="btn btn-primary "(click)="sendData(card.OrderNumber)">Progress</button>
                                    <br>                
                                    <button type="button" class="btn btn-primary "(click)="openProgressDialog(card.idworkPlan)">Steps</button>                      
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="filteredCards.length === 0" class="empty-message">
                        <div class="spinner-border text-primary ml-2" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>