
.table {
    border-collapse: collapse;
}
.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
}
.table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table th {
    background-color: #4CAF50;
    color: white;
}
.close-button {
    position: absolute;
    top: 0;
    right: 0;
    
  }