<div class="container mt-5 mb-5">
    <h1 class="modal-title">WorkPlan {{workplan.workPlan.workPlanNumber }}</h1>
    <p>Description: {{workplan.workPlan.description }}</p>
    <p>Workplan Type: {{ workplan.workPlan.workPlanType }}</p>
    <p>Picture Number: {{ workplan.workPlan.pictureNumber }}</p>
    <p>Part Number: {{ workplan.workPlan.partNumber }}</p>
    <p>Pasos:</p>
    <div class="table-responsive" style="max-height: 60vh; overflow-y: auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>Step Number</th>
                    <th>Description</th>
                    <th>Operation Number</th>
                    <th>Operation Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let step of workplan.steps">
                    <td>{{ step.stepNumber }}</td>
                    <td>{{ step.description }}</td>
                    <td>{{ step.operation.operationNumber }}</td>
                    <td>{{ step.operation.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<button mat-icon-button mat-dialog-close aria-label="Close" type="button" class="close-button" (click)="onNoClick()">
    <i class="material-icons">close</i>
</button>