<div class="container mt-5 mb-5">
    <h1 class="modal-title">Client information</h1>
    

    <div class="modal-body">
        <p><strong>First Name:</strong> {{ data.firstName }}</p>
        <p><strong>Last Name:</strong> {{ data.lastName}}</p>
        <p><strong>ID:</strong> {{ data.clientNumber }}</p>
        <p><strong>Address:</strong> {{ data.address }}</p>
        <p><strong>Phone:</strong> {{ data.phone }}</p>
        <p><strong>Email:</strong> {{ data.email }}</p>
        <p><strong>Company:</strong> {{ data.company }}</p>
    </div>
    <button mat-icon-button mat-dialog-close aria-label="Close" type="button" class="close-button" (click)="onNoClick()">
        <i class="material-icons">close</i>
      </button>
</div>