<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<div class="mat-elevation-z8 ">
    <div *ngIf="!showWorkplan">

        <div style="background-color: #FFFFFF;">
            <h2 style="text-align: center;">List of WorkPlans</h2>
            <input class="filter-input" style="width: 100%;" (keyup)=" applyFilter($event)" placeholder="Filter">
        </div>
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{ element.workPlanNumber }} </td>
            </ng-container>

            <ng-container matColumnDef="Picture">
                <th mat-header-cell *matHeaderCellDef> Picture </th>
                <td mat-cell *matCellDef="let element"> {{ element.pictureNumber }} </td>
            </ng-container>

            <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{ element.shortDescription }} </td>
            </ng-container>

            <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef> Type</th>
                <td mat-cell *matCellDef="let element"> {{ element.workPlanType }} </td>
            </ng-container>



            <ng-container matColumnDef="Operaciones">
                <th mat-header-cell *matHeaderCellDef> Operations </th>
                <td mat-cell *matCellDef="let workplan">

                    <button type="button" class="btn btn-outline-info" (click)="openDialog(workplan)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button type="button" class="btn btn-outline-success">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button type="button" class="btn btn-outline-danger">
                        <mat-icon>delete</mat-icon>
                    </button>

                    <!--<button type="button" class="btn btn-outline-info" (click)="openDialog(workplan)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button type="button" class="btn btn-outline-success" (click)="openEditDialog(workplan)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button type="button" class="btn btn-outline-danger" (click)="eliminarWorkplan(workplan) ">
                        <mat-icon>delete</mat-icon>
                    </button>-->

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>

    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [hidden]="showWorkplan"
        [length]="dataSource.data.length"></mat-paginator>
</div>
<br>
<button type="button" class="btn btn-primary btn-lg mat-elevation-z8" (click)="toggleWorkplan()">
    {{ showWorkplan ? 'Cancel' : 'Create Workplan' }}
</button>
<div *ngIf="showWorkplan">
    <form id="myForm" #f="ngForm" (ngSubmit)="onSubmitWorkplan(f)">
        <div class="container mt-5 mb-5">

            <h2>
                Enter the following information to create a New WorkPlan
            </h2>
            
            <div class="mb-3">
                <label for="workPlanNumber" class="form-label">workPlanNumber</label>
                <input type="number" class="form-control" id="workPlanNumber" name="workPlanNumber"
                    placeholder="workPlanNumber" [(ngModel)]="workPlanNumber">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="description"
                    [(ngModel)]="description">
            </div>
            <div class="mb-3">
                <label for="workPlanType" class="form-label">workPlanType</label>
                <select class="form-control" id="workPlanType" name="workPlanType" [(ngModel)]="workPlanType">
                    <option *ngFor="let type of workPlanTypes" [value]="type.key">{{type.value}}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="shortDescription" class="form-label">shortDescription</label>
                <input type="text" class="form-control" id="shortDescription" name="workPlanType"
                    placeholder="shortDescription" [(ngModel)]="shortDescription">
            </div>
            <div class="mb-3">
                <label for="pictureNumber" class="form-label">pictureNumber</label>
                <input type="number" class="form-control" id="pictureNumber" name="pictureNumber"
                    placeholder="pictureNumber" [(ngModel)]="pictureNumber">
            </div>
            <div class="mb-3">
                <label for="partNumber" class="form-label">partNumberr</label>
                <input type="number" class="form-control" id="partNumber" name="partNumber" placeholder="partNumber"
                    [(ngModel)]="partNumber">
            </div>

        </div>
    </form>
    <div class="container mt-5 mb-5">
        <h2>
            Drag and Drop the necessary steps to create the WorkPlan
        </h2>

        <div cdkDropListGroup>

            <div class="example-container">
                <h3>Available</h3>
                <div class="mat-elevation-z8 ">
                    <input class="filter-input" style="width: 100%;" (keyup)="applyFilterTodo($event)"
                        placeholder="Filter">
                    <div cdkDropList [cdkDropListData]="filteredTodo" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of filteredTodo" cdkDrag>{{item.description}}</div>
                    </div>

                    <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons 
                        (page)="pageEvent($event)">
                    </mat-paginator>

                </div>
            </div>
            <div class="example-container">
                <h3>Chosen</h3>
                <div class="mat-elevation-z8 ">
                    <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of done" cdkDrag>
                            <div style="display: block;"><strong>{{item.description}}</strong></div>
                            <div style="display: block;">
                                <div class="mb-3 d-flex">
                                    <div class="flex-grow-1">
                                        <label for="thisStepNumber" class="form-label">thisStepNumber</label>
                                        <input type="number" class="form-control" id="thisStepNumber"
                                            name="thisStepNumber" min="0" placeholder="thisStepNumber"
                                            [(ngModel)]="item.thisStepNumber">
                                    </div>
                                    <div class="flex-grow-1">
                                        <label for="nextStep" class="form-label">nextStep</label>
                                        <input type="number" class="form-control" id="extStep" name="extStep" min="0"
                                            placeholder="nextStepNumber" [(ngModel)]="item.nextStep">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div ngInit="item.errorStep = false">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="errorStep"
                                                name="errorStep" [(ngModel)]="item.errorStep">
                                            <label class="form-check-label" for="errorStep">Error Step</label>
                                        </div>
                                    </div>
                                </div>


                                <div class="mb-3">
                                    <label for="errorStepNumber" class="form-label">errorStepNumber</label>
                                    <input type="number" class="form-control" id="errorStepNumber"
                                        name="errorStepNumber" placeholder="errorStepNumber" min="0"
                                        [(ngModel)]="item.errorStepNumber">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmitWorkplan(f)">Crear Nuevo Workplan</button>
    </div>