.cover{
    height: 800px;
    background-image: url("../../../assets/possessed-photography-dRMQiAubdws-unsplash.jpg");
    color: white;
    background-size: cover;
    background-position: center;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: darken;
}
.card1{
    border: 0 !important;
    height: 26rem;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
}
.card-title{
    min-height: 3rem;
}
.card-text{
    min-height: 10rem;
}

.image-container{
    width: 100%;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}
.slider-container{
    transform: translateX(0);
    animation: slider 10s infinite;
}
@keyframes slider{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100%);
    }
    45%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    70%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-300%);
    }
    95%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(0);
    }
}
.avatar{
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
.stripe-container, .slider-container{
    display: flex;
}
.stripe-container .card{
    width: 300px;
    flex-shrink: 0;
    margin-right: 1rem;
}
.product-stripe, .slider{
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.slider{
    overflow-x: hidden;
}
.responsive-iframe{
    position: relative;
    padding-bottom: 56.25%;
}
.responsive-iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card {
    text-align: center;
  }