<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3 sticky-top">
            <br>
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-big" placeholder="Search Part" [(ngModel)]="searchTerm"
                    (ngModelChange)="search()">
                <div class="input-group-append">
                    <button mat-icon-button class="cart-icon" (click)="openDialog()">
                        <i class="material-icons">shopping_cart</i>
                        <span class="badge bg-danger">{{purchaseCount}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 mt-2" *ngFor="let part of filteredParts">
            <div class="card p-4">
                <div class="d-flex justify-content-center">
                    <img [src]="part.picture" alt="Imagen de la pieza"
                        onerror="this.src='../../../assets/NoPicture.png'">
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{part.description}}</h2>
                    <span class="badge bg-primary">Part Number: {{ part.partNumber}}</span>
                    <br> <br>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Quantity" name="quantity"
                            [(ngModel)]="part.quantity" min="0" required>
                    </div>
                    <br>
                    <button class="btn btn-primary" [disabled]="!part.quantity || part.quantity <= 0"
                        (click)="buy(part)">Add To Shopping Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>