.card {
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    height: 25rem !important; 
}

.form-control-big{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}
.cart-icon {
    position: relative;
}

.cart-icon .badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.6rem;
}
img {
    width: 150px;
    height: 150px;
  }