<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<div class="container mt-5 mb-5 test">
    <div class="mb-3">
        <label for="nombre" class="form-label">ID</label>
        <input type="text" class="form-control" id="ID" name="ID" placeholder="ID" [(ngModel)]="workplan.id">
    </div>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre"
            [(ngModel)]="workplan.name">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Description"
            [(ngModel)]="workplan.description">
    </div>



    <div class="container">
        <h3>
            Eliga los concetrados que desea comprar
        </h3>
    </div>
    <div class="container mt-5 mb-5">
        <div cdkDropListGroup>
            <div class="example-container">
                <h3>Disponibles</h3>
                <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.name}}</div>
                </div>
            </div>
            <div class="example-container">
                <h3>Elegidos</h3>
                <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of done" cdkDrag>
                        <div style="display: block;">
                            <strong>{{item.name}}</strong>
                        </div>

                        <div style="display: block;">
                            <div class="mb-3 d-flex">
                                <div class="flex-grow-1">
                                    <label for="ID" class="form-label">Step </label>
                                    <input type="number" class="form-control" id="step" name="step" min="0"
                                        placeholder="Step" [(ngModel)]="item.step">
                                </div>
                                <div class="flex-grow-1">
                                    <label for="ID" class="form-label">Next Step</label>
                                    <input type="number" class="form-control" id="NextStep" name="NextStep" min="0"
                                        placeholder="Next Step" [(ngModel)]="item.nextStep">
                                </div>
                            </div>
                            <div class="mb-3 d-flex">
                                <div class="mb-3">
                                    <div ngInit="item.firstStep = false">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="FirsStep"
                                                name="FirsStep" [(ngModel)]="item.firstStep">
                                            <label class="form-check-label" for="FirsStep">First Step</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 end-step-container">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="FirsStep" name="FirsStep"
                                            [(ngModel)]="item.endStep">
                                        <label class="form-check-label" for="FirsStep">End Step</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="Type" class="form-label">Operation</label>
                                <select class="form-select" id="type" name="type" [(ngModel)]="item.operation">
                                    <option value="value1">Valor 1</option>
                                    <option value="value2">Valor 2</option>
                                    <option value="value3">Valor 3 </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="ID" class="form-label">Transport Time</label>
                                <input type="number" class="form-control" id="TransportTime" name="TransportTime"
                                    placeholder="Transport Time" min="0" [(ngModel)]="item.TransportTime">
                            </div>
                            <div class="mb-3">
                                <label for="ID" class="form-label">Working Time</label>
                                <input type="number" class="form-control" id="WorkingTime" name="WorkingTime"
                                    placeholder="Working Time" min="0" [(ngModel)]="item.WorkingTime">
                            </div>
                            <div class="mb-3">
                                <label for="ID" class="form-label">Energy</label>
                                <input type="number" class="form-control" id="Energy" name="Energy" placeholder="Energy"
                                    min="0" [(ngModel)]="item.energy">
                            </div>
                            <div class="mb-3">
                                <label for="ID" class="form-label">Energy 2</label>
                                <input type="number" class="form-control" id="Energy2" name="Energy2"
                                    placeholder="Energy 2" min="0" [(ngModel)]="item.energy2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5">
        <button type="button" class="btn btn-primary" (click)="onEditClick()">Guardar</button>
    </div>

    <button mat-icon-button mat-dialog-close aria-label="Close" type="button" class="close-button"
        (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </button>
</div>