.close-button {
    position: absolute;
    top: 0;
    right: 0;
    
  }
  .test {
    overflow-y: auto;
    max-height: calc(100vh - 300px);
  }
  .cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.example-container{
    width: 530px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top; 
}
.example-list{
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}
.example-box{
    padding: 20px 30px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}
.cdk-drag-preview{
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder{
    opacity: 0;
}
.cdk-drag-animating{
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box:last-child{
    border: none;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder){
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

