<div>
    <app-widget-area [data]="bigChart"></app-widget-area>
</div>

<mat-divider></mat-divider>


<br>
<div>
    <app-widget-card label="Cola De Producción"></app-widget-card>
</div>

<br>

<mat-divider></mat-divider>
<br>


<div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
    <div fxFlex.gt-sm="60" fxFlex.lt-sm="100">
        <div class="mat-elevation-z8">
            <h2 style="text-align: center;">Estado de las estaciones</h2>


            <table mat-table [dataSource]="dataSource">
               
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nommbre </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- code Column -->
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Código </th>
                    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                </ng-container>

                <!-- state Column -->
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.state === 'True'">
                            <mat-icon class="check">check_circle</mat-icon>
                        </span>
                        <span *ngIf="element.state === 'False'">
                            <mat-icon class="deny">cancel</mat-icon>
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>

    </div>
    <div fxFlex="40" class="pie">
        <app-widget-pie-chart [data]="pieChart"></app-widget-pie-chart>
    </div>
</div>

<br>